<h1>This is Home</h1>


<div><span style='font-weight: 900'><%= @model.first_name_label %>: </span><%= @model.first_name %></div>
<div><span style='font-weight: 900'><%= @model.last_name_label %>: </span><%= @model.last_name %></div>



